#audioplayer{
	width: 300px;
	height: 60px;
	margin: 50px auto auto auto;
  border: solid;
	background: linear-gradient(to bottom, #00FDFF 0%, #FE00FF 100%);
}

#audio{
  width: 100% ;
}

#pButton{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

#timeline{
	width: 200px;
	height: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
background: #18ffff;

}
#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: linear-gradient(to bottom, #00FDFF 0%, #FE00FF 100%);
}
